{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ range .Data.Pages }}
        <div class="post">
          <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <p>{{ .Params.Email }}</p>
          <div class="post-content">
            <p>{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="btn btn-main">{{ "More" }}</a>
          </div>
		</div>
        {{ end }}
        
      </div>
    </div>
  </div>
</div>

{{ end }}
